{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'reset.css' %}" rel="stylesheet">
        <link href="{% static 'navbar.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
        <style>@-ms-viewport { width: device-width; }</style>
        {% block head %}

        {% endblock %}
    </head>
    <body>
    {% block content %}

    {% endblock %}
    {% block scripts %}

    {% endblock %}
    </body>
</html>
