<!DOCTYPE html>
<html>
<body>
    <div class="w-layout-grid grid-2">
        <div id="w-node-_45b38912-019e-6284-5ab1-121469941fd9-a32b1948" class="wf-section"></div>
        <h3 id="w-node-a42080f5-de0a-3fd2-b6bd-c4d206d61ba0-a32b1948">Heading</h3>
        <img src="https://uploads-ssl.webflow.com/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="182" id="w-node-fc6ee63b-97e3-b165-e052-2a99b2207ee0-a32b1948" alt="">
        <p id="w-node-_13e32095-56b8-cd1c-48bc-7e29b32ab32a-a32b1948"></p>
        <div id="w-node-e81b9ff9-2a24-95e8-e82a-4405a9bf8f93-a32b1948" class="w-dyn-list">
            <div class="w-dyn-empty">
                <div>No items found.</div>
            </div>
        </div>
        <div id="w-node-bda80ef1-0a26-226a-701b-46a4abaa52a0-a32b1948" class="w-dyn-list">
            <div class="w-dyn-empty">
                <div>No items found.</div>
            </div>
        </div>
    </div>
</body>
</html>